<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinized!</h1>
<<<<<<< HEAD
    <p><%= @responsy           %></p>
    </body>
=======
    <p><%= @responsy               %></p>
    <p><%=                         %></p> 
    <p><%=                         %></p>
  

  <br/>
  </body>
>>>>>>> 176d830eb47d98c054b306bfac77799be85f04bf
</html>